<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>식당 목록</title>
    <style>
    table{
        top : 30px;
    }.intro{
        width : 300px;
    }.food{
        width : 100px;
    }.num{
        width : 200px;
    }
    </style>
</head>
<body>
    <header>
    <% include ./nav%>    
    </header>
    <table class = "table table-hover table-bordered">
        <thead>
            <tr>
                <th class = "food">음식 종류</th>
                <th>식당 이름</th>
                <th class = "intro">한 줄 소개</th>
                <th>주소</th>
                <th class = "num">전화번호</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
            <tr>
                <td>한식</td>
                <td>아무개</td>
                <td>맛있겠다</td>
                <td>동대문구</td>
                <td>111-1111</td>
            </tr>
        </tbody>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</html>