<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">

    <title>식당 목록</title>
</head>
<body>
    <header>
    <% include ./nav%>    
    </header>
    <table class = "table table-hover">
        <thead>
            <tr>
                <th>이름</th>
                <th>전화번호</th>
                <th>음식 종류</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr onclick="location.href='https://www.naver.com'">
                <td>식당1</td>
                <td>111-1111</td>
                <td>한식</td>
                <td>동대문구</td>
            </tr>
            
        </tbody>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</html>